.left {
    background-color: #e0f7fa;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .left h4 {
    font-size: 1.2em;
    color: #388e3c;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .search-bar {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #c5e1a5;
    border-radius: 8px;
    font-size: 0.9em;
    box-sizing: border-box;
  }
  .buttons{
    display: flex;
    justify-content: space-evenly;
  }
  .button-left {
    display: block;
    padding: 8px 16px;
    font-size: 1em;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .button-left:hover {
    background-color: #004d40;
  }
  .city {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .city:hover{
    background-color: #e9e9e9;
    cursor: pointer;
  }
  
  .city p {
    font-size: 0.9em;
    color: #616161;
    margin: 0;
  }
  
  .little-picture {
    width: 40px;
    height: 40px;
  }

.favorite-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.favorite-icon:hover {
  background-color: #ffeb3b;
}

.favorite-icon.active {
  background-color: #ffeb3b;
}